{% extends "base.html" %}

{% block content %}

<div class="wrapper">
	<div class="body"
		<div class="header">
			<img src="background.jpg" alt="bird singing with a backlit moon"> 
		</div>
		<div class="main">
			<div class="content">
				Laif is life!
				content here
			</div>
		</div>
		<div class="footer">
			<p> 
			Join the conversation at

			<a href="@byrd:matix.org">
				here
			</a>

			</p>
		</div>
	</div>
</div>

{% endblock content %}
